<footer class="block block--dark block-footer">
    <div class="container grid block-footer__grid">
        <section class="collapsible collapsible--expanded block-footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading block-footer__heading">Products</h2>
                <svg class="icon icon--white collapsible__toggler block-footer__toggler">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible__content block-footer__content">
                <ul class="list block-footer__list">
                    <li class="list__item"><a class="block-footer__link" href="/">Free Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Free Cloud</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Automated Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Wordpress</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible block-footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading block-footer__heading">Company</h2>
                <svg class="icon icon--white collapsible__toggler block-footer__toggler">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible__content block-footer__content">
                <ul class="list block-footer__list">
                    <li class="list__item"><a class="block-footer__link" href="/">Free Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Automated Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">About</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible block-footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading block-footer__heading">Support</h2>
                <svg class="icon icon--white collapsible__toggler block-footer__toggler">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible__content block-footer__content">
                <ul class="list block-footer__list">
                    <li class="list__item"><a class="block-footer__link" href="/">Free Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Free Cloud</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Automated Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Free Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Free Cloud</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Automated Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">About</a></li>
                </ul>
            </div>
        </section>
        <section class="collapsible block-footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading block-footer__heading">Domains</h2>
                <svg class="icon icon--white collapsible__toggler block-footer__toggler">
                    <use xlink:href="images/sprite.svg#chevron"></use>
                </svg>
            </header>
            <div class="collapsible__content block-footer__content">
                <ul class="list block-footer__list">
                    <li class="list__item"><a class="block-footer__link" href="/">Free Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">Wordpress</a></li>
                    <li class="list__item"><a class="block-footer__link" href="/">About</a></li>
                </ul>
            </div>
        </section>

        <footer class="logo-container block-footer__logo-container">
            <a class="logo block-footer__logo" href="/"><img src="images/logo-no-text.svg"
                    alt="moshify logo">Moshify</a>
            <p class="block-footer__copyright">Copyright &#169; 2025 Mosh</p>
        </footer>
    </div>
</footer>