<section class="container block block-features">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, eveniet!</p>
  </header>

  <article class="grid grid--1x2 block-features__feature">
    <div class="block-features__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3>Super Easy to Use</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas hic perspiciatis, doloribus corrupti
        tempore. Deleniti perspiciatis voluptatem, ratione, rerum quod aperiam culpa cupiditate veniam fugit, deserunt
        impedit quam consectetur.</p>
      <a href="#" class="link-arrow"> Learn More</a>
    </div>
    <picture class="block-features__image">
      <source type="image/webp" srcset="images/easy@1x.webp 1x, images/easy@2x.webp 2x">
      <source type="image/jpg" srcset="images/easy@1x.jpg 1x, images/easy@2x.jpg 2x">

      <img src="images/easy.jpg" alt="">
    </picture>
  </article>

  <article class="grid grid--1x2 block-features__feature">
    <div class="block-features__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3>Simply fast websites</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas hic perspiciatis, doloribus corrupti
        tempore. Deleniti perspiciatis voluptatem, ratione, rerum quod aperiam culpa cupiditate veniam fugit, deserunt
        impedit quam consectetur.</p>
      <a href="#" class="link-arrow"> Learn More</a>
    </div>
    <picture class="block-features__image">
      <source type="image/webp" srcset="images/fast@1x.webp 1x, images/fast@2x.webp 2x">
      <source type="image/jpg" srcset="images/fast@1x.jpg 1x, images/fast@2x.jpg 2x">

      <img src="images/fast.jpg" alt="">
    </picture>
  </article>

  <article class="grid grid--1x2 block-features__feature">
    <div class="block-features__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3>Wordpress Made Easy</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas hic perspiciatis, doloribus corrupti
        tempore. Deleniti perspiciatis voluptatem, ratione, rerum quod aperiam culpa cupiditate veniam fugit, deserunt
        impedit quam consectetur.</p>
      <a href="#" class="link-arrow"> Learn More</a>
    </div>
    <picture class="block-features__image">
      <source type="image/webp" srcset="images/wordpress@1x.webp 1x, images/wordpress@2x.webp 2x">
      <source type="image/jpg" srcset="images/wordpress@1x.jpg 1x, images/wordpress@2x.jpg 2x">

      <img src="images/wordpress.jpg" alt="">
    </picture>
  </article>

  <article class="grid grid--1x2 block-features__feature">
    <div class="block-features__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3>24/7 Expert Support</h3>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis voluptas hic perspiciatis, doloribus corrupti
        tempore. Deleniti perspiciatis voluptatem, ratione, rerum quod aperiam culpa cupiditate veniam fugit, deserunt
        impedit quam consectetur.</p>
      <a href="#" class="link-arrow"> Learn More</a>
    </div>
    <picture class="block-features__image">
      <source type="image/webp" srcset="images/support@1x.webp 1x, images/support@2x.webp 2x">
      <source type="image/jpg" srcset="images/support@1x.jpg 1x, images/support@2x.jpg 2x">

      <img src="images/support.jpg" alt="">
    </picture>
  </article>
</section>