<nav class="nav collapsible">
    <a class="logo-container" href="/">
        <img src="images/magic-pixels-web-logo.svg" alt="hosst logo cloud" class="logo">
    </a>
    <img class="icon nav__toggler icon-menu" src="images/menu-svgrepo-com.svg" alt="menu icon">
    <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="/index.html#services">Diensten</a></li>
        <li class="nav__item"><a href="/index.html#projects">Projecten</a></li>
        <li class="nav__item"><a href="/index.html#contact">Contact</a></li>
    </ul>
</nav>